<style>
  #container-ogma {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh !important;
  }
  .panel-buttons {
    z-index: 99;
    width: 100vw;
    position: relative;
    margin: 0px auto;
    top: 0;
    /* border: red solid 1px; */
    padding: 20px;
  }
  .btn-item {
    margin-right: 10px;
  }

  .counter {
    z-index: 99;
    position: absolute;
    left: 30px;
  }

  .counter > h4 {
    font-size: 15px;
  }

  .console {
    z-index: 100;
    position: absolute;
    top: 80;
    right: 30px;
    cursor: pointer;
  }
  .arrow:hover {
    color: yellow !important;
  }
</style>

<div class="panel-buttons row">
  <div class="col">
    <button class="btn-item btn btn-outline-danger" (click)="handleZoomOut()">
      Zoom Out
    </button>
    <button class="btn-item btn btn-outline-danger" (click)="handleZoomIn()">
      Zoom In
    </button>
    <button
      class="btn-item btn btn-outline-danger"
      (click)="handleRotateLeft()"
    >
      Rotate Left
    </button>
    <button
      class="btn-item btn btn-outline-danger"
      (click)="handleRotateRight()"
    >
      Rotate Right
    </button>
    <button
      class="btn-item btn btn-outline-danger"
      alt="Search All"
      (click)="handleResetFilter($event)"
    >
      All
    </button>
    <button
      class="btn-item btn btn-outline-danger"
      alt="Search Username"
      (click)="handleFilterUser($event)"
    >
      @
    </button>
    <button
      class="btn-item btn btn-outline-danger"
      alt="Search Hashtag"
      (click)="handleFilterHastagh($event)"
    >
      #
    </button>
  </div>
  <div class="col">
    <div class="form-group">
      <div class="input-group">
        <input
          placeholder="Search Username.."
          class="search form-control"
          type="text"
          list="usernamelist"
          [(ngModel)]="search"
        />
        <button class="btn btn-outline-danger" (click)="handleSearch($event)">
          Search Now
        </button>
        <datalist id="usernamelist">
          <option
            value="{{ username['username'] }}"
            *ngFor="let username of usernames"
          >
            {{ username["username"] }}
          </option>
        </datalist>
      </div>
    </div>
  </div>
</div>

<div class="counter">
  <h4 class="text-white">Nodes: {{ nodesLength }}</h4>
  <h4 class="text-white" *ngIf="isNotHashtag">Edges: {{ edgesLength }}</h4>
</div>

<div class="console">
  <div class="console-top">
    <div class="arrow text-white" (click)="handleArrow('top')">&#8593;</div>
  </div>

  <div class="console-center">
    <div class="arrow text-white" (click)="handleArrow('left')">&#8592;</div>
    <div class="arrow text-white" (click)="handleArrow('center')">&#9673;</div>
    <div class="arrow text-white" (click)="handleArrow('right')">&#8594;</div>
  </div>
  <div class="console-bottom">
    <div class="arrow text-white" (click)="handleArrow('bottom')">&#8595;</div>
  </div>
</div>

<div class="top-person">
  <div id="container-ogma" style="height: 90vh">
    <ng-container *ngIf="ontology; else loading"></ng-container>
  </div>
</div>

<!-- LEGACY -->

<!--<style>
  .popup-data {
    position: absolute;
    z-index: 999;
    transform: translate(280px, -500px);
    height: 450px;
    width: 500px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* filter: blur(8px); */
    background-color: rgba(240, 248, 255, 0.956);
    border-radius: 10px;
  }
  .popup-data-header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: lightgray;
    padding: 20px;
    display: flex;
  }
  .filterPanel {
    display: inline-block;
    margin-left: 10px;
  }

  .counter {
    position: absolute;
    z-index: 99;
    color: white;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(132, 132, 132, 0.62);
    transform: translate(40px, -600px);
  }
  .console {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(132, 132, 132, 0.62);
    padding: 5px;
    border-radius: 999px;
    position: absolute;
    transform: translate(900px, -600px);
    z-index: 99;
  }

  .arrow {
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
  }

  .arrow:hover {
    color: yellow;
  }

  .console-center {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-right: 20px;
  }

  .console-bottom {
    margin-top: -5px;
  }

  ng-template {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
</style>


<input
  placeholder="Search Username.."
  class="search"
  type="text"
  list="usernamelist"
  [(ngModel)]="search"
/>
<button (click)="handleSearch($event)">Search Now</button>
<datalist id="usernamelist">
  <option value="{{ username['username'] }}" *ngFor="let username of usernames">
    {{ username["username"] }}
  </option>
</datalist>
<div class="filterPanel">
  
</div>
<div class="w-full">

  <!-- loading -->
<!-- 

  <div class="popup-data" *ngIf="popUp">
    <div class="popup-data-header">
      <div class="popup-data-header-head">
        <h3>Detail Info</h3>
        <h5 *ngIf="!!timeInfo">{{ timeInfo }}</h5>
      </div>
      <div *ngIf="contentInfo" class="popup-button">
        <p>Sort By:</p>
        <button (click)="sortPost($event, likes)">Likes</button>
        <!-- <button (click)="sortPost($event, comments)" disabled>Comments</button>
        <button (click)="sortPost($event, engagements)" disabled>
          Engagements
        </button> -->
<!-- 

          <button (click)="sortPost($event, shares)">Shares</button>
        </div>
      </div>
      <div class="content-info">
        <div *ngIf="contentInfo; else isloading">
          <app-item-content
            [item]="item"
            *ngFor="let item of contentInfo"
          ></app-item-content>
        </div>
      </div>
         -->

<!-- LEGACY!!! -->
<!-- <h4>Type: {{ type }}</h4> -->

<!-- <h4>
    username:
    <a target="_blank" href="https://twitter.com/{{ nameUrl }}">{{ name }}</a>
  </h4> -->
<!-- <h4 *ngIf="isCountry">Population: {{ population }}</h4>
  <h4 *ngIf="isCountry">Currency: {{ currency }}</h4> -->
<!-- 
  <button (click)="detailToogle()">close</button>
</div> -->
<!-- 

  <div class="counter">
    <h4>Nodes: {{ nodesLength }}</h4>
    <h4 *ngIf="isNotHashtag">Edges: {{ edgesLength }}</h4>
  </div>

 -->
<!-- 

  <div class="console">
    <div class="console-top">
      <div class="arrow" (click)="handleArrow('top')">&#8593;</div>
    </div>
  
    <div class="console-center">
      <div class="arrow" (click)="handleArrow('left')">&#8592;</div>
      <div class="arrow" (click)="handleArrow('center')">&#9673;</div>
      <div class="arrow" (click)="handleArrow('right')">&#8594;</div>
    </div>
    <div class="console-bottom">
      <div class="arrow" (click)="handleArrow('bottom')">&#8595;</div>
    </div>
  </div>

 -->
<!-- 

  <ng-template #isloading>
    <div class="isloading">
      <h1>Is Loading...</h1>
    </div>
  </ng-template>

 -->

<!-- modals -->
<ng-template #loading>
  <div class="not-available">
    <div class="lds-facebook">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ng-template>
